@media screen and (min-width: 768px) {
    .foo {
        width: 574px;
    }
}

.index {
    .mau {
      padding: 10px
    }
}

body {
    background: rgba(0,0,255,.3)
}



.bar {
    width: 160px;
}

@media screen and (min-width: 768px) {
    .bar {
        width: 324px;
    }
}