@import '../../../styles/media.css';

@value colors: '../../../styles/colors.css';
@value first, second, third from colors;

.button {
    padding: 10px;
    margin-top: 11px;
    color: second;

    @media (--small-viewport) {
        color: red;
    }
}



.submit {
    background: silver;
}

