@value colors: '../../../styles/colors.css';
@value first, second, third from colors;

@value media: '../../../styles/media.css';
@custom-media --viewport-medium (width >= 50rem);


.button {
    padding: 10px;
    margin-top: 10px;
    color: second;

    @media (--viewport-medium) {
        color: red;
    }
}



.submit {
    background: silver;
}

