@import '../../../styles/media.css';
@import  '../../../styles/colors.css';

.button {
    padding: 10px;
    margin-top: 11px;
    color: second;

    @media (--small-viewport) {
        color: red;
    }
}



.submit {
    background: silver;
}

